/*
Colores

Morado claro: #E6DFF0

*/

*,
*::after,
*::before {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #691aca;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

.background {
  background-color: #e6dff0;
  width: 100wv;
  height: 100vh;
  padding: 20px;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aplicadora-view, .images-view {
  border-radius: 16px;
  width: 100%;
  height: 100%;
}

.aplicadora-view, .service-info, .photos-to-upload, .success-upload {
  background-color: white;
}

.photos-to-upload__container {
  padding: 0 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.service-info {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.go-back-section {
  display: none;
}

.go-back {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 16px;
}

.go-back__image {
  width: 45px;
  user-select: none;
}

.go-back__text {
  font-size: 24px;
  user-select: none;
}

.main-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.search-section,
.services-section {
  padding: 32px 16px;
  height: 100%;
}
/*
.search-section {

}

.services-section {
    
}
*/

.search-section__input-container {
  padding: 16px 0;
  display: grid;
  gap: 16px;
  grid-template-columns: 5fr 1fr;
}

.search-section__input-code {
  padding: 16px;
  /*width: 100%;*/
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-width: 0;
}

.search-section__input-button {
  width: 50px;
  height: 50px;
  background-color: #691aca;
  border: none;
  border-radius: 16px;
  padding: 12px;
  user-select: none;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px 0;
}

.services__item {
  background-color: #f7f4ff;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 16px;
  gap: 16px;
}

.services__data-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.service__date-text {
  font-weight: bold;
  white-space: nowrap;
}

.service__id-number {
  font-weight: bold;
  font-size: 20px;
}

.services__actions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.services__button {
  padding: 8px 16px;
  border-radius: 12px;
  background-color: rgb(105, 26, 202);
  color: white;
  font-weight: bold;
  border: none;
  transition: background-color 0.5s ease;
  font-family: "Montserrat", sans-serif;
  user-select: none;
}

.services__button:hover {
  background-color: rgba(105, 26, 202, 0.5);
}

.search-section__input-code {
  border-radius: 32px;
  border: none;
  border: 1px solid #e5e5e6;
  background-color: #f7f8fd;
}

.search-section__input-code::placeholder,
.search-section__input-code {
  font-size: 18px;
  font-weight: bold;
}

.images-view {
  min-height: 80vh;
}

.service-info {
  display: flex;
  justify-content: space-between;
}

.service-info, .service-info__container {
  padding: 16px;
}

.service-info__normal-text {
  font-weight: bold;
}

.service-info__service-number {
  font-size: 24px;
}

.photos-to-upload {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.photos-to-upload__title {
  font-size: 20px;
}

.photos-to-upload__title, .photos-to-upload__subtitle {
  text-align: center;
  font-weight: bold;
}

.photos-to-upload__items__body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 0 32px;
}

.photos-to-upload__item {
  background-color: #F7F4FF;
  border-radius: 12px;
  width: 100%;
}

.photos-to-upload__item-2 {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.photos-to-upload__item-2__text {
  font-weight: 500;
  text-align: center;
  user-select: none;
}

.photos-to-upload__item-2__image {
  width: 25px;
  user-select: none;
}

.photos-to-upload__upload-button-container {
  padding: 0 32px;
}

.photos-to-upload__upload-button, .success-upload__button {
  width: 100%;
  border-radius: 20px;
  height: 38px;
  border: none;
  color: white;
  background-color: #691aca;
  font-family: "Montserrat", sans-serif;
  user-select: none;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.photos-to-upload__upload-button:hover, .success-upload__button:hover {
  background-color: rgba(105, 26, 202, 0.5);
}

.success-upload {
  padding: 16px;
  width: 100%;
  display: flex;
  gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
}

.success-upload, .photos-to-upload {
  min-height: 80vh;
}

.success-upload__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.success-upload__image {
  user-select: none;
  width: 80px;
}

.success-upload__title {
  font-size: 24px;
}

.success-upload__subtitle {
  font-size: 16px;
}

.success-upload__button-container {
  width: 100%;
  max-width: 360px;
}

.success-upload__button {
  height: 48px;
  font-size: 16px;
  border-radius: 24px;
  font-weight: bold;
}

/*
<div>
    <img class="success-upload__image" src="./success-green-icon.svg" alt="success-icon">
    <h3 class="success-upload__title">Subida exitosa</h3>
    <h4 class="success-upload__subtitle">Gracias por su tiempo</h4>
    <div class="success-upload__button-container">
        <button class="success-upload__button" type="button">
            Volver al inicio
        </button>
    </div>
</div>
*/

/*
<div class="images-view">
    <div class="service-info">
        <div class="service-info__container">
            <p class="service-info__normal-text">N° de servicio</p>
            <h4 class="service-info__service-number">34254</h4>
            <p class="service-info__normal-text">13 de agosto 2024</p>
        </div>
        <div class="go-back">
            <img class="go-back__image" src="./flecha-atras.png" alt="flecha-para-ir-hacia-atras">
            <p class="go-back__text">Atrás</p>
        </div>
    </div>
    <div class="photos-to-upload">
        <div class="photos-to-upload__header">
            <h4 class="photos-to-upload__title">Sube fotos de tu servicio</h4>
            <p class="photos-to-upload__subtitle">Agrega por lo menos 3 fotos</p>
        </div>
        <div class="photos-to-upload__items__body">
            <div class="photos-to-upload__item">
                <div class="photos-to-upload__item-2">
                    <p class="photos-to-upload__item-2__text">Subir imágen</p>
                </div>
            </div>
        </div>
    </div>
</div>
*/
@media screen and (min-width: 768px) {
  .main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 85vh;
  }

  .go-back-section {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .images-view {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .main-section {
    min-height: 40vh;
  }

  .success-upload, .photos-to-upload {
    min-height: 95vh;
  }

  .photos-to-upload, .service-info, .success-upload {
    border-radius: 16px;
  }

  .service-info {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 16px;
    max-width: 234px;
    min-width: 234px;
  }

  .photos-to-upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

}

@media screen and (min-width: 992px) {
  .main-section {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr;
    */
    padding: 32px 48px;
  }

  .services__button {
    text-wrap: nowrap;
  }

}

/*

@media screen and (min-width: 576px) {
  .sections-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .user-profile {
    flex-direction: row;
  }
}

@media screen and (min-width: 992px) {
  .user-properties {
    grid-template-columns: 3fr 2fr 2fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
}
*/
